* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

.contents {
  background-image: url("/static/classroom.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  height: 100vh;
  width: 70vw;
}

video {
  position: absolute;
  top: 53%;
  left: 36.7%;
  transform: translate(-50%, -50%);
  height: 67%;
  padding-bottom: 3em;
  border-radius: 1em;
  border-bottom-right-radius: 1em;
}
.actions {
  background-color: #14213d;
  width: 30em;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 2em;
}

.actions button {
  border-radius: 0.5em;
  background-color: #ef233c;
  border: 0;
  padding: 0.5em 1em; /* Adjust padding here */
  color: white;
  transition: background-color 0.2s;
  cursor: pointer;
  font-size: 1em;
  width: auto; /* Let the button size adjust to the content */
}

.actions button:hover {
  background-color: #d90429;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

.studentDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  border-radius: 1em;
  background-color: #d90429;
  color: #fff;
  font-family: "monospace";
}

green {
  color: rgb(81, 255, 81);
}
