<!DOCTYPE html>
<html>
  <head>
    <title>Class Attendance Register</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="contents">
      <video autoplay="true" id="videoElement"></video>
    </div>

    <div class="actions" id="actions">
      <button id="recordNow" onclick="recordNow()">Record Now</button>
      <input type="text" id="studentId" placeholder="Enter Student ID" />
      <input type="text" id="studentName" placeholder="Enter Student Name" />
      <button id="addNew">Submit</button>
    </div>
  </body>
  <script src="{{ url_for('static', filename='addnew.js') }}"></script>
</html>
