<!DOCTYPE html>
<html>
  <head>
    <title>Class Attendance Register</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="contents">
      <video autoplay="true" id="videoElement"></video>
    </div>

    <div class="actions" id="actions">
      <button onclick="capturePicture()">Register Attendance</button>
      <button>Add New</button>
      <button>Class Register</button>
    </div>
  </body>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
